.close{
	width: 30px;
	height: 30px;
	position: absolute;
	top: 6px;
	width: 380.591796875px;
	right: 20px;
	color: black;
}
.acceso {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.buttonreport {
	width: 152px;
	height: 53px;
}
.buttonreport .Rectangle30 {
	position: absolute;
	left: 4px;
	top: 0px;
	width: 94.73684210526315px;
	height: 100px;
}
.buttonreport .reporte {
	position: absolute;
	left: 880px;
	top: 150px;
	width: 150px;
	height: 52.83018867924528px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(245,246,251,1.00);
	background: rgba(54,0,234,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
.other {
	position: absolute;
	left: 693px;
	top: 243px;
	width: 511px;
	height: 298px;
}
.other .Otros {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 75.207763671875px;
	height: 19px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}

.rectangle {
	position: absolute;
	left: 15.45361328125px;
	top: 25.1031494140625px;
	width: 495.54638671875px;
	height: 272.8968505859375px;
	background: rgba(255,255,255,0.00);
	border: 1px solid rgba(0,0,0,1);
}
.head {
	position: absolute;
	left: 52px;
	top: 36px;
	width: 1339px;
	height: 36px;
}

.head .AccesoRafaelBelloniRocha {
	position: absolute;
	left: 139px;
	top: 6px;
	width: 380.5916748046875px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	border: 1px solid rgba(0,0,0,1);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.head .Fecha18Mar2023 {
	position: absolute;
	left: 668px;
	top: 6px;
	width: 380.591796875px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.head .logo {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 90.8333740234375px;
	height: 23.7098388671875px;
	object-fit: cover;
	overflow: hidden;
}
.acceso .head .closeicon {
	position: absolute;
	left: 1309px;
	top: 6px;
	width: 30px;
	height: 30px;
	object-fit: cover;
	overflow: hidden;
}
.acceso .DATA {
	position: absolute;
	left: 90px;
	top: 153px;
	width: 753px;
	height: 1170px;
}
.acceso .DATA .data {
	position: absolute;
	left: 100px;
	top: 100px;
	width: 202px;
	height: 1093px;
}
.acceso .DATA .data .info {
	position: absolute;
	left: 0px;
	top: 35px;
	width: 202px;
	height: 1058px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.acceso .DATA .data .info .Rafael {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 51px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.acceso .DATA .data .info .Belloni {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 53px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.acceso .DATA .data .info .Rocha {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 51px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.acceso .DATA .data .info ._15011984 {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 81px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.acceso .DATA .data .info .Mexicana {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 77px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.acceso .DATA .data .info .Sonora {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 57px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.acceso .DATA .data .info .Personafsica {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 112px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.acceso .DATA .data .info .RONC712938715897A {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 163px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.acceso .DATA .data .info .JDKS21983719586 {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 137px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.acceso .DATA .data .info .Masculino {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 82px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.acceso .DATA .data .info ._6444612431 {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 90px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.acceso .DATA .data .info .rafaelbellonigmailcom {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 202px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.acceso .DATA .data .titles {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 179px;
	height: 1058px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.acceso .DATA .data .titles .Nombre {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 67px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
.acceso .DATA .data .titles .ApellidoPaterno {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 137px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
.acceso .DATA .data .titles .ApellidoMaterno {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 141px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
.acceso .DATA .data .titles .Fechadenacimiento {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 173px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
.acceso .DATA .data .titles .Nacionalidad {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 112px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
.acceso .DATA .data .titles .Estadodenacimiento {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 179px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
.acceso .DATA .data .titles .ActividadEconmica {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 176px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
.acceso .DATA .data .titles .CURP {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 44px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
.acceso .DATA .data .titles .RFC {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 32px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
.acceso .DATA .data .titles .Gnero {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 60px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
.acceso .DATA .data .titles .Nmero {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 67px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
.acceso .DATA .data .titles .Email {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 46px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
.acceso .DATA .data2 {
	position: absolute;
	left: 618px;
	top: 458px;
	width: 135px;
	height: 712px;
}
.acceso .DATA .data2 .info_1 {
	position: absolute;
	left: -100px;
	top: -70px;
	width: 131px;
	height: 588px;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.acceso .DATA .data2 .info_1 .Mxico {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 56px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.acceso .DATA .data2 .info_1 .Jalisco {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 56px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.acceso .DATA .data2 .info_1 .Rocha_1 {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 102px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.acceso .DATA .data2 .info_1 .ValledelReal {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 108px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.acceso .DATA .data2 .info_1 ._85134 {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 45px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.acceso .DATA .data2 .info_1 .SantaMargarita {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 131px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.acceso .DATA .data2 .info_1 ._175 {
	position: relative;
	flex: none;
	margin-bottom: 70px;
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.acceso .DATA .data2 .titles_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 135px;
	height: 682px;
}
.acceso .DATA .data2 .titles_1 .Pas {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 35px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
.acceso .DATA .data2 .titles_1 .Estado {
	position: absolute;
	left: 0px;
	top: 94px;
	width: 56px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
.acceso .DATA .data2 .titles_1 .Ciudad {
	position: absolute;
	left: 0px;
	top: 188px;
	width: 61px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
.acceso .DATA .data2 .titles_1 .Colonia {
	position: absolute;
	left: 0px;
	top: 282px;
	width: 64px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
.acceso .DATA .data2 .titles_1 .Zip {
	position: absolute;
	left: 0px;
	top: 376px;
	width: 26px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
.acceso .DATA .data2 .titles_1 .Calle {
	position: absolute;
	left: 0px;
	top: 470px;
	width: 43px;
	height: 24px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
.acceso .DATA .data2 .titles_1 .Nmeroexterior {
	position: absolute;
	left: 0px;
	top: 564px;
	width: 135px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
.acceso .DATA .data2 .titles_1 .Nmerointerior {
	position: absolute;
	left: 0px;
	top: 658px;
	width: 131px;
	height: 24px;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
.acceso .DATA .data2 .Vector10 {
	position: absolute;
	left: 3.5px;
	top: 712px;
	width: 76.5px;
	height: 0px;
}