.close{
	height: 30px;
	width: 30px;
	margin-left: 93%;
	margin-top: 3%;
	cursor: pointer;
}

.cancel {
	position: relative;
	left: 0px;
	top: 25px;
	margin: auto;
	width: 50vw;
	height: 70vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
    z-index: 10;
}

.cancel .head {
	left: 155px;
	top: 30px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: inherit;
	font-size: 23px;
	font-weight: 600;
	line-height: 72px;
	width: 510px;
}
.cancel .info {
	position: absolute;
	left: 155px;
	top: 85px;
	width: 530px;
	height: 120px;
	display: flex;
	color: rgba(0,0,0,1.00);
	font-family: inherit;
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
}
.cancel .razon {
	position: absolute;
	left: 176px;
	top: 190px;
	width: 150px;
	height: 40px;
	display: flex;

	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 16px;
	font-weight: 400;
	line-height: 39px;
}
.cancel .input {
	position: absolute;
	left: 170px;
	top: 225px;
	width: 505px;
	height: 316px;
	border-radius: 20px;
}
.cancel .input .Rectangle29 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 505px;
	height: 220px;
	border-radius: 20px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}

.cancel .Cambios {
	position: absolute;
	left: 480px;
	top: 470px;
	width: 290px;
	height: 50px;
}

.cancel .Cambios .cancel-btn {
	position: absolute;
	right: 32%;
	top: 5%;
	width: 70%;
	height: 100%;
	background: rgba(54,0,234);
	color: rgba(245,246,251);
	font-family: inherit;
	font-size: 16px;
	font-weight: 600;
	border-radius: 15px;
	cursor: pointer;
	text-align: center;
}