.cancel {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 80%;
	height: 80vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
    z-index: 10;
}
.cancel .closeicon {
	position: absolute;
	left: 2782px;
	top: 42px;
	width: 60px;
	height: 60px;
	object-fit: cover;
	overflow: hidden;
}
.cancel .head {
	position: absolute;
	left: 172px;
	top: 122px;
	width: 1032px;
	height: 72px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 48px;
	font-weight: 400;
	line-height: 72px;
}
.cancel .info {
	position: absolute;
	left: 176px;
	top: 244px;
	width: 1034px;
	height: 120px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 26px;
	font-weight: 400;
	line-height: 39px;
}
.cancel .razon {
	position: absolute;
	left: 176px;
	top: 424px;
	width: 238px;
	height: 40px;
	display: flex;
	align-items: center;
	color: rgba(0,0,0,1.00);
	font-family: Poppins;
	font-size: 26px;
	font-weight: 400;
	line-height: 39px;
}
.cancel .input {
	position: absolute;
	left: 170px;
	top: 464px;
	width: 1036px;
	height: 316px;
	border-radius: 20px;
}
.cancel .input .Rectangle29 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1036px;
	height: 316px;
	border-radius: 20px;
	border: 1px solid rgba(0,0,0,1);
	box-sizing: border-box;
}
.cancel .closeicon_1 {
	position: absolute;
	left: 1338px;
	top: 40px;
	width: 60px;
	height: 60px;
	object-fit: cover;
	overflow: hidden;
}
.cancel .Cambios {
	position: absolute;
	left: 868px;
	top: 842px;
	width: 342px;
	height: 72px;
}
.cancel .Cambios .Rectangle28 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 342px;
	height: 72px;
	background: rgba(54,0,234,1.00);
}
.cancel .Cambios .cancel-btn {
	position: absolute;
	left: 30px;
	top: 17.01904296875px;
	width: 308px;
	height: 35.32080078125px;
	color: rgba(245,246,251,1.00);
	border: 1px solid rgba(245.00000059604645,246.0000005364418,251.00000023841858,1);
	font-family: Poppins;
	font-size: 26px;
	font-weight: 400;
	line-height: 39px;
}