body{
    background: rgba(245, 246, 251);
}
.rectificacion {
    justify-content:right;
    text-align: center;
    align-items: center;
}

.head {
    width: 100%;
    height: 36px;
    display: flex;
    left: 10vh;
    margin-top: 7.4vh;
}

.Name {
    margin-top: 6px;
    font-weight: 600;
    margin-left: 10vh;
  }
  
.Date {
    margin-top: 12px;
    margin-left: auto;
    margin-right: 18vh;
  }
  
.logo {
    margin-left: 3.5vh;
    top: 0;
    width: 90.83px;
    height: 23.71px;
    object-fit: fill;
    overflow: hidden;
    position: relative;
  }

.close {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: 6px;
    right: 20px;
    color: #000;
  }

label{
    color: rgba(0, 0, 0, 1);
    line-height: 6vh;
    font-weight: 600;
    height: 8vh;
}

input{
    border: 1px solid black;
    border-radius: 6px;
    font-family: inherit;
    height: 3vh;
    outline: none;
    width: 30vh;
}

input:focus{
    border: 2px solid #3600ea;
}

.data_rect{
    margin-left: 94vh;
}

.datapiece{
    margin-top: 2%;
    width: 28vh;
}
.btn_save{
    background-color: #3600ea;
    color: white;
    font-weight: 600;
    font-family: inherit;
    border-radius: 8px;
    display: block;
    cursor: pointer;
    margin-top: 5%;
    margin-left: 10vh;
    border: none;
    width: 150px;
    height: 52.8302px;
}

.btn_save_div{
    margin-left: 42.5%;
    margin-bottom: 10vh;
}

.LastNames{
    display: flex;
    justify-content: space-around;
    margin-right: 75%;
    gap: 80%;
}